<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <template :span="9" v-if="matrix.length == 9">
        <el-row v-for="(row, rowIndex) in 9" :key="row">
            <el-col :span="1" v-for="(col, colIndex) in 9" :key="col">
                <el-input v-show="matrix[rowIndex][colIndex].fixed" type="text" min="0" max="9" v-model="matrix[rowIndex][colIndex].value" :disabled="true" suffix-icon="el-icon-price-tag"></el-input>
                <el-input v-show="!matrix[rowIndex][colIndex].fixed" type="text" min="0" max="9" v-model="matrix[rowIndex][colIndex].value"></el-input>
            </el-col>
        </el-row>
        <br/>
        <el-row>
            <el-button @click="doSolve()" :loading="btnLoading" type="primary" round>求解</el-button>
            <el-button @click="initSolve" type="info" round>清空</el-button>
        </el-row>
    </template>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script th:inline="none">
    new Vue({
        el: '#app',
        data: {
            matrix: [],
            btnLoading: false,
        },
        created:function() {
            this.initSolve();
        },
        methods: {
            initSolve: function() {
                var self = this;
                axios.get('http://127.0.0.1:8080/sudoku/initSolve')
                    .then(function (response) {
                        self.matrix = response.data.data;
                    })
                    .catch(function (error) {
                        self.$message.error('数读初始化异常。。。');
                    });
            },
            doSolve: function() {
                var self = this;
                self.btnLoading = true;
                axios.post('http://127.0.0.1:8080/sudoku/doSolve', {'matrix': self.matrix})
                    .then(function (response) {
                        self.btnLoading = false;
                        if (response.data.success == true) {
                            self.matrix = response.data.data;
                        } else {
                            self.$message.error(response.data.msg);
                        }
                    })
                    .catch(function (error) {
                        self.btnLoading = false;
                        self.$message.error('数独解题异常。。。');
                    });
            }
        }
    })
</script>
</html>